{% extends 'base.html.twig' %}

{% block title %}Alternance AMO{% endblock %}

{% block body %}

<section>
   <div style="height: 800px; display: flex; justify-content: center; align-items: center;">
  <img src="{{ asset('/assets/amo/fondAmo.png') }}" style="max-width: 100%; max-height: 100%; margin: auto;">
</div>
    <div class="container h-100 position-relative" style="top: -50px;">
        <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                            </svg></div>
                        <h4 class="card-title">Qu'est ce que AMO</h4>
                        <h6 class="text-muted card-subtitle mb-2">Expertise en lubrification et fiabilité mécanique</h6>
                        <p class="card-text">La société AMO Asset Management Optimization est une Société Anonyme à Responsabilité Limitée (S.A.R.L) basée dans le nord de la France qui propose des services d’ingénierie conseil et des solutions technologiques pour réduire les coûts d’exploitation et augmenter la productivité de ses clients.</p>
                    </div>
                    <div class="card-footer p-4 py-3"><a href="https://amo-technologies.com/societe/" target="_blank">En savoir plus... <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg></a></div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="">
                                <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                            </svg></div>
                        <h4 class="card-title">Qui Travaille pour AMO</h4>
                        <h6 class="text-muted card-subtitle mb-2">L'équipe</h6>
                        <img src="https://amo-technologies.com/wp-content/uploads/2023/03/equipe-amo-technologies.jpg" height="100%" width="100%"></img>
                        <li>Aymeric, Mathis, Cindy, Simon, Catherine, Thomas, Axel, Christophe, Stephane</li>
                       
                    </div>
                   
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="">
                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                            </svg></div>
                        <h4 class="card-title">Les Logiciels AMO</h4>
                        <h6 class="text-muted card-subtitle mb-2">Amo web / Amo Mobile / Project Calcul Particules</h6>
                        <p class="card-text">Améliorer la fiabilité de vos équipements avec un meilleur suivi des opérations et la remontée des informations terrain (anomalies, situations dangereuses, idées d’amélioration) grâce à la mobilité 4.0 de AMO.

Des solutions dédiées aux opérationnels de maintenance et de production (TPM) avec des applications smartphone et tablette qui fonctionnent déjà chez de nombreux industriels en papeterie, chimie, sucrerie, agroalimentaire et d’autres secteurs.</p>
                    </div>
                    <div class="card-footer p-4 py-3"><a href="https://amo-software.com/" target="blank">En savoir plus...<svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
            <div class="col-md-12 rounded border p-3"> <h4 style="text-align : center;">Mon rôle</h4>
            <p>Chez AMO, je suis chargé de renforcer l'équipe informatique, composée de ma tutrice (Cindy) et de moi-même, pour poursuivre le développement du logiciel AMO. Mes missions consistent à effectuer des tâches de maintenance évolutive et de travailler en équipe pour développer de nouveaux projets logiciels sous la direction de notre patron, Christophe.</p>
            </div>
    </div>
        <br>
    <div class="row">
            <div class="col-md-3 rounded border p-3" style="height: 100%;"><h4>Missions</h4>
                <p>En raison de la taille limitée de notre équipe informatique, j'ai la possibilité d'acquérir une expérience diversifiée en travaillant sur différents aspects tels que le code métier, le design, les bases de données, les serveurs, ainsi que les applications web et mobiles.</p>
                <p>Mes missions sont: </p>
                <ol>
                    <li>Utilisation de Azure DevOps</li>
                    <li>Maintenance évolutive (AMO) </li>
                    <li>AMO WIKI</li>
                    <li>Cahier des charges Project Comptage Particules / veille concurenciel</li>
                    <li>Pop Up de diagnostic pour l'application Mobile</li>
                    <li>Veille technologique SQLITE + réalisation d'un POKE</li>
                </ol>
            </div>
    
            <div class="col-md-8 rounded border p-3" style="margin-left:5% ; height: 100%;">
        
                <h4 id="section1">1) Utilisation de Azure DevOps </h4>
                <p><strong>Azure DevOps</strong> est une plateforme de collaboration et de développement de logiciels basée sur le cloud, qui permet aux équipes de développeurs de <strong>travailler ensemble
                de manière efficace pour créer, tester et déployer des applications plus rapidement et avec une qualité accrue</strong>. Azure DevOps est une solution tout-en-un qui comprend
                des <strong>outils de gestion de projet, de suivi des problèmes, de gestion du code source, de compilation et de déploiement automatique. </strong>La plateforme est très flexible et
                peut être utilisée pour une grande variété de projets logiciels, allant des petits projets personnels aux grandes entreprises.</p>
                <p> Pour nous DevOps de Azure nous permet de s'organiser en fiche à réaliser pour travailler en mode Scrum et Kanban avec des sprints qui corresponde au différence fiches.
                <a href="https://dev.azure.com/source0935/AMO/_boards/board/t/AMO%20Team/Stories" target="blank">DevAzure AMO</a>
                <h4 style="text-align: center; color: red;">Méthode Kanban</h4>
                 <a href="{{ asset('/assets/amo/Kanban+.jpg') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/kanban+.jpg') }}" width="100%" height="100%"></img>
                </a>

                <p>Ici par exemple voici ce que j'appellerais le tableau de bord de l'avancer de nos tâches à réaliser entre moi et Cindy.
                La méthode Scrum est utiliser comme nous le voyons ici avec plusieurs section Prête, à faire, en cour, suspendu, revu de code...
                <a href="{{ asset('/assets/amo/Compétences 1.4 Mode Project Azure.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/Compétences 1.4 Mode Project Azure.png') }}" width="100%" height="100%">
                </a>
                 <a href="{{ asset('/assets/amo/TacheAssigner.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/TacheAssigner.png') }}" width="100%" height="100%">
                </a>
            
                <p>DevAzure DevOps nous permet égallement de Répondre aux incidents et aux demandes d’assistance et d’évolution.
                Quand un problème, ou une demandes est faites elle est faites par mail à notre Patron Christophe et nous, nous créons la fiche
                associer en la typant comme Problème(bug), Evolution et on lui donne une priorité celon si c'est urgent ou non.</p>
                <a href="{{ asset('/assets/amo/mailnaphta.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/mailnaphta.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br>
                <h4 id="section2">2) Maintenance évolutive / corrective du logiciel web / mobile AMO </h4>
                <p><strong>La maintenance évolutive</strong> d'un logiciel web ou mobile AMO consiste à ajouter de nouvelles fonctionnalités ou à modifier les fonctionnalités existantes afin de répondre 
                aux besoins changeants des utilisateurs ou de l'entreprise. </p>
                <p>Par exemple, cela peut inclure l'ajout de nouvelles fonctionnalités, l'amélioration de la performance ou de la
                sécurité du logiciel, ou encore l'adaptation du logiciel à de nouveaux environnements ou technologies.</p>
                
                <p><strong>La maintenance corrective</strong>, quant à elle, consiste à résoudre les bugs ou les problèmes rencontrés dans le logiciel. Cela peut inclure la correction de bogues de sécurité,
                de bogues de fonctionnement ou d'autres problèmes qui affectent l'expérience utilisateur ou la stabilité du logiciel.</p>
                
                <p>Dans l'ensemble, la maintenance évolutive et corrective sont toutes deux importantes pour assurer la qualité et la fiabilité d'un logiciel web ou mobile AMO, et pour répondre 
                aux besoins changeants des utilisateurs et de l'entreprise.</p>
                
                <p>Preuve de commit / pull request</p>
                <a href="{{ asset('/assets/amo/Commits AMO.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/Commits AMO.png') }}" width="100%" height="20%"></img>
                </a>
                <a href="{{ asset('/assets/amo/Preuve PullRequest AMO.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/Preuve PullRequest AMO.png') }}" width="100%" height="20%"></img>
                </a>
                  </br></br>
                <h4 id="section3">3) AMO WIKI </h4>
                <p>Amo Wiki est un Référenciel essentiel pour les développeurs de Amo ils nous permets d'y mettre
                des informations essentiels.
                </p>
                <p>
                Mon rôle principal dans ce projet était de maintenir le wiki sur AzureDevops en collaboration avec ma collègue développeuse. J'ai utilisé les
                fonctionnalités de gestion de contenu d'AzureDevops pour créer un wiki facilement accessible et facile à utiliser.
                En travaillant sur ce projet, j'ai appris comment créer et maintenir des documents techniques précis et complets pour garantir la <strong>sécurité, la disponibilité et la
                 fiabilité des systèmes informatiques.</strong> J'ai également acquis une solide compétence en <strong>gestion du patrimoine informatique</strong> en comprenant comment le wiki peut être 
                 utilisé pour stocker des informations <strong> critiques et essentiels</strong> sur les systèmes informatiques et leur maintenance.
                Le résultat de notre travail a été un wiki complet et précis qui a amélioré la <strong>productivité</strong>et la qualité du travail des développeurs en leur donnant un accès facile
                 aux <strong>informations dont ils ont besoin.</strong> En travaillant sur ce projet, j'ai démontré ma capacité à travailler efficacement en équipe, à communiquer clairement et à créer
                  des documents techniques précis et complets pour garantir la fiabilité des systèmes informatiques.</p>
                <p>En résumé, mon travail sur AzureDevops et le wiki que j'ai créé démontre ma compétence en gestion du patrimoine informatique et constitue un exemple concret de ma 
                capacité à travailler en équipe pour créer et maintenir des documents techniques précis et complets.</p>
                </br>
                <a href="{{ asset('/assets/amo/amoWiki.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/amoWiki.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br></br>
                <a href="{{ asset('/assets/amo/wikiMathis.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/wikiMathis.png') }}" width="100%" height="20%"></img>
                </a>
                  </br></br></br>
                <a href="{{ asset('/assets/amo/wikiCindy.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/wikiCindy.png') }}" width="100%" height="20%"></img>
                </a>
                  </br></br></br>
                <h4 id="section4">4) Project Comptage Particules et Installation, déploiement de Grafana, mysql et API REST </h4>
                <h5>4.1 Gestion de Project</h5>
                <p>En début d'année, nous avons entamé un projet novateur nommé "Comptage particules connecté" avec notre équipe de développement, 
                l'équipe chargée des automates de lubrification et notre patron. L'objectif de ce projet est de permettre à nos clients et à AMO de 
                superviser l'état de l'huile de leurs machines à distance grâce à un boîtier doté d'un circuit d'huile et d'un capteur. Ce capteur renvoie 
                la "classe de propreté" de l'huile, qui nous permet de déterminer la propreté de l'huile à distance.</p>
                
                <h5>La complexité de ce projet a rendu l'organisation primordiale, étant donné que notre équipe de développeurs et les automaticiens ne maîtrisaient pas bien
                 le domaine de la lubrification et le nôtre respectivement.</h5>
                
                <p>Nous avons effectuer plusieurs réunion pour le suivi du project et nous avons sortie au bout de deux réunion un cahier des charges complet et précis.</p>
                </br>
                <a href="{{ asset('/assets/amo/boitierCapteur.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/boitierCapteur.png') }}" width="30%" height="20%"></img>
                </a>  
                   <a href="{{ asset('/assets/amo/recupData.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/recupData.png') }}" width="69%" height="100%"></img>
                </a>  
                </br></br></br>
                <a href="{{ asset('/assets/amo/particuleReunion.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/particuleReunion.png') }}" width="100%" height="20%"></img>
                </a>
                
                <embed  src="{{ asset("assets/amo/CDC projet comptage particules.pdf")}}" width=100% height=900 type='application/pdf'/>
                <p>Compte rendu :
                Permettre de transmettre les infos de l’automate vers Grafana en ligne via la 4G (Axel)
                Quelle base de données pour stocker nos données sur Grafane en ligne ? (Axel ou/et Cindy)
                Le calcul doit-il être fait par l’automate ou par le logiciel de supervision ?
                L’automate peut-il recevoir une info venant du web (typiquement le paramétrage de fréquence d’envoi des données) ? (Axel)
                Voir avec Steeve pour voir si notre logiciel AMO est capable de faire une supervision avec des graphiques ? (Cindy)
                Analyser comment faire un « camembert » :
                dans logiciel AMO (Cindy)
                sur le mobile (en technologie windows et technologie android) (Mathis)
                dans une page web, quelle techno existe-il ? (Mathis)
                Paramétrer un « camembert » dans Grafana :
                en ligne (Mathis)
                en local avec la création d’une base de données locale  (Mathis)<p>
                </br></br>
                <h5>4.2 Mettre à disposition des utilisateurs un service informatique </h5>
                <p>Après la réalisation du cahier des charges et la prise en compte des besoins exprimés, la décision a été prise d'utiliser Grafana, 
                MySQL et une API REST pour le premier jet du projet.</p>

                <p>J'ai pris en charge l'installation et le déploiement de la base de données MySQL ainsi que du serveur Grafana qui nous permettra d'afficher des jauges en direct
                    en reliant la base de données MySQL. De plus, j'ai commencé à développer une API REST avec Asp.NET, afin de pouvoir envoyer les données depuis l'automate via
                    l'URL de l'API en mode POST.</p>

              
                <a href="{{ asset('/assets/amo/preuveCommitParticule.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/preuveCommitParticule.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br>
                <h3>Installation de Mysql et Création de BDD</h3>
                <p> J'ai tout d'abord installer mysql serveur sur le serveur windows de prod et j'y ai créé un script de création de la base de donnée 
                pour le project.</p>
                <a href="https://pastebin.com/raw/Maq7ShTx" target="blank">Script SQL</a>

                <a href="{{ asset('/assets/amo/mysql.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/mysql.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br>
               <h3>Installation de Grafana serveur sur le serveur de Prod Windows</h3>
               <p>L'installation de grafana est vraiment simple il sufis d'executer l'exe et de suivre les étapes d'installation
               ensuite pour accèder à notre instence grafana il suffis de mettre l'ip de votre serveur :3000 n'oublier pas d'ouvrir le port 3000 pour un accès extérieur.</p>
               <a href="https://grafana.com/docs/grafana/latest/setup-grafana/installation/windows/" target="blank">Documentation officiel d'installation.</a>

                <a href="{{ asset('/assets/amo/grafanaInstall.png') }}" target="_blank">
                <img src="{{ asset('/assets/amo/grafanaInstall.png') }}" width="100%" height="20%"></img>
                </a>

              <h3>Création de l'api pour ajouter les donnés de l'automate dans la DB.</h3>
              <p>Mise en place d'un serveur IIS pour héberger l'api rest ASP.NET</p>
                <a href="{{ asset('/assets/amo/IIS.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/IIS.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br>
              <h4>Création de l'api pour ajouter des valeurs en base</h4>
  </br>
             <a href="{{ asset('/assets/amo/connectBDD.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/connectBDD.png') }}" width="100%" height="20%"></img>
                </a>
                 <a href="{{ asset('/assets/amo/insert.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/insert.png') }}" width="100%" height="20%"></img>
                </a>
                 <a href="{{ asset('/assets/amo/insert.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/insert.png') }}" width="100%" height="20%"></img>
                </a>
                </br></br>
              <h4>Petite documentation simple pour l'utilisation de l'api</h4>
                <embed  src="{{ asset("assets/amo/Api Particule.pdf")}}" width=100% height=900 type='application/pdf'/>
                </br></br>

            <h4>Les utilisateurs peuvent désormer accéder à leur compte grafana.</h4>
               <a href="{{ asset('/assets/amo/testGauge.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/testGauge.png') }}" width="100%" height="20%"></img>
                </a>
                 </br></br>
                <h4 id="section5">5) Pop Up de diagnostic pour l'application Mobile </h4>
                <p>Cette tâche qui m'a été demander permet de répondre à un problème que des clients nous ont remontée
                à savoir que parfois la tablette ne se syncroniser pas. 
                J'ai développer un menu qui leur permet de voir d'ou viens le problème exemple problème de connexion internet...
                Se menu permet aussi en cas de plus gros problème d'envoyer un mail au support donc nous ou il y aura toutes les informations
                envoyer à savoir Connexion internet, type de connexion, si il arrive à ping notre couchbase ext...</p>           
                <a href="{{ asset('/assets/amo/demandeUserCo.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/demandeUserCo.png') }}" width="100%" height="20%"></img>
                </a>
                <a href="{{ asset('/assets/amo/preuve popupdignostic userstory.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/preuve popupdignostic userstory.png') }}" width="100%" height="20%"></img>
                </a>
                <a href="{{ asset('/assets/amo/popupUser.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/popupUser.png') }}" width="100%" height="20%"></img>
                </a>
                <a href="{{ asset('/assets/amo/popupAdmin.png') }}" target="_blank">
                    <img src="{{ asset('/assets/amo/popupAdmin.png') }}" width="100%" height="20%"></img>
                </a>
        </div>
    </div>
</div>


{% endblock %}
